name: Deploy Preview

permissions: {}

on:
  workflow_call:
    inputs:
      pr-number:
        type: number
        required: true
      sha:
        type: string
        required: true
    secrets:
      FIREBASE_TOKEN:
        required: true
      DOTENV_PRIVATE_KEY:
        required: true

jobs:
  deploy-preview:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    environment:
      name: preview
      url: ${{ steps.deploy.outputs.url }}
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup

      - run: bun run build
        env:
          DOTENV_PRIVATE_KEY: ${{ secrets.DOTENV_PRIVATE_KEY }}

      - name: Deploy preview
        id: deploy
        run: |
          RESULT=$(
            bun run --silent \
              deploy:preview \
                --token="${FIREBASE_TOKEN}" \
                --json \
                "pr-${PULL_REQUEST_NUMBER}"
          )
          echo "${RESULT}"

          URL=$(echo "${RESULT}" | jq -r '.result["samari-news"].url')
          EXPIRE_TIME=$(echo "${RESULT}" | jq -r '.result["samari-news"].expireTime')
          {
            echo "url=${URL}"
            echo "expireTime=${EXPIRE_TIME}"
          } >> "$GITHUB_OUTPUT"
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          PULL_REQUEST_NUMBER: ${{ inputs.pr-number }}

      - uses: peter-evans/find-comment@3eae4d37986fb5a8592848f6a574fdf654e61f9e # v3.1.0
        id: fc
        with:
          issue-number: ${{ inputs.pr-number }}
          comment-author: 'github-actions[bot]'
          body-includes: Deployed to Preview Environment
      - uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # v4.0.0
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ inputs.pr-number }}
          edit-mode: replace
          body: |
            ## :rocket: Deployed to Preview Environment :rocket:

            - ${{ steps.deploy.outputs.url }} (${{ inputs.sha }})

            :information_source: This preview will expire in _**${{ steps.deploy.outputs.expireTime }}**_.
